body {
  background: lightgray; //sets background to light gray
}

img {
  margin: 10px; //adds margin to image
}

header {
  background:lightslategray;
  text-align: left;
  font-family: 'garamond';
  font-size: 30px;
  color: whitesmoke;
  height: 150px;
  padding: 35px;
}

header div {
  font-size: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: -25px; //removes some extra unnecessary padding
}

h3 {
  text-align: left;
  font-size: 25px;
  font-family: 'papyrus';
}

p {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  padding: 0px 20px; //adds padding to the sides of the page
}

ul, ol {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  list-style-position: inside; //makes bullets and numbers match alignment
  padding-left: 100px; //indentation
}

ol {
  padding-left: 120px;
}

footer {
  background: lightslategray;
  padding: 15px 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

//pseudo-class for links
a:link    { color: blue;  }
a:visited { color: blueviolet;   }
a:hover   { color: whitesmoke; }
a:active  { color: green;  }
